<html
<head></head>
<body>
<p>
  To Whom It May Concern,<br><br>
  This email has been generated automatically because your proposal for account
  {account_name} on H2P will expire in {exp_in_days} days on {end}.
  The one year allocation started on {start}.
  Once your proposal expires, you will still be able to login and retrieve your
  data, but you will be unable to run new compute jobs until you submit a new
  proposal or request a supplemental allocation.
  To do so, please visit
  https://crc.pitt.edu/Pitt-CRC-Allocation-Proposal-Guidelines.<br><br
    Thanks,<br><br>
  The CRC Proposal Bot
</p>
</body>
</html>