<html>
<head></head>
<body>
<p>
  To Whom It May Concern,<br><br>
  This email has been generated automatically because your account on H2P has
  exceeded {perc}% usage. The one year allocation started on {start}. You can
  request a supplemental allocation at
  https://crc.pitt.edu/Pitt-CRC-Allocation-Proposal-Guidelines.<br><br>
  Your usage is printed below:<br>
<pre>
        {usage}
        </pre>
Investment status (if applicable):<br>
<pre>
        {investment}
        </pre>
Thanks,<br><br>
The CRC Proposal Bot
</p>
</body>
</html>