name: Deploy Documentation

on:
  push:
    branches: [ development ]

  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        fetch-depth: 0 # Otherwise, you will fail to push refs to destination repo
      
    - name: Install dependencies
      run: |
        conda activate bank_docs
        pip install -r requirements.txt
        pip install -r docs/requirements.txt
   
    - name: Build and commit
      uses: sphinx-notes/pages@master
      with:
        documentation_path: docs/source # Relative path under repository to documentation source files
    
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
