name: Run Tests

on:
  push:
  workflow_dispatch:

jobs:
  python_tests:
    runs-on: [self-hosted]
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10]

    # Set default shell options for all run steps
    defaults:
      run:
        shell: bash -leo pipefail {0}

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Python Environment
        run: |
          # Make sure we are using the miniconda distribution installed in the custom runner
          module purge

          # The conda environemnt needs to be created on the test server ahead of time
          conda env remove -n bank_test_${{ matrix.python-version }} -y
          conda create -n bank_test_${{ matrix.python-version }} python=${{ matrix.python-version }} -y
          conda activate bank_test_${{ matrix.python-version }}

          # Install package requirements in addition to any packages required for running tests
          pip install -r requirements.txt
          pip install coverage

      - name: Run tests with coverage
        run: |
          coverage run -m unittest
          coverage report
          coverage xml -o report_${{ matrix.python-version }}.xml

      # Report test coverage to codacy for the python version being tested
      - name: Report partial coverage results
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report --partial -l Python -r report_${{ matrix.python-version }}.xml
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  codacy-coverage-reporter:
    runs-on: [self-hosted]
    name: Report code coverage
    needs: python_tests
    steps:

      # Tell codacy we are done reporting test coverage
      - name: Finish reporting coverage
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh) final
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
